{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ info.title }}{% endblock %}</title>
    <meta name="description" content="{{ info.title }}"/>
    <link rel="icon" href="{% static info.favicon %}"/>
    {% include "djangolg/css.html" %}
    {% include "djangolg/js.html" %}
</head>
<body>
    {% include "djangolg/navbar.html" %}
    {% block modal %}{% endblock %}
    <div class="container-fluid">
        <div class="base" id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include "djangolg/footer.html" %}
</body>
</html>
