{% extends "djangolg/base.html" %}

{% block scripts %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $("#accept-terms-form").submit(function (event) {
                event.preventDefault();
                var query = $(this).serialize();
                $.getJSON("/enter/?", query, function (json) {
                    $("[name$='auth_key']").val(json.key);
                    $("#accept-terms-modal").modal('hide');
                }).fail(function () {
                    $("#accept-terms-checkbox").popover('show');
                })
            })
            $("#accept-terms-modal").modal();
            $("form.lg-control").each(function () {
                $(this).submit(function (event) {
                    event.preventDefault();
                    $("#error-alert").hide("fast");
                    $("#raw-output").text("Please wait...")
                    var query = $(this).serialize();
                    $.getJSON("/json/?", query, function (json) {
                        if (json.err == null) {
                            $("#raw-output").text(json.raw);
                        } else {
                            $("#raw-output").text("An error occurred")
                            $("#error-alert").text(json.err).show("slow");
                        }
                    }).fail(function () {
                        $("#raw-output").text("An error occurred")
                        $("#error-alert").show(slow);
                    })
                })
            })
        })
    </script>
{% endblock %}

{% block modal %}
{% include "djangolg/modal.html" %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                {% include "djangolg/controls.html" %}
            </div>
            <div class="col-md-9" id="output">
                {% include "djangolg/output.html" %}
            </div>
        </div>
    </div>
{% endblock %}
