{% load staticfiles %}
<div class="modal fade" id="accept-terms-modal" tabindex="-1" role="dialog" aria-labelledby="accept-terms-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="{% static info.small_logo %}" alt="Logo">
                <h4 class="modal-title" id="accept-terms-modal-label">
                    Welcome to the {{ info.title }}<br/>
                    <small>You are visiting from {{ info.src_address }}</small>
                </h4>
            </div>
            <div class="modal-body">
                {% include "djangolg/terms.html" %}
            </div>
            <form class="form-inline" action="#" method="get" id="accept-terms-form">
                <div class="modal-footer">
                    {% if recaptcha %}
                        <div class="pull-left">
                            <div class="g-recaptcha" data-sitekey="{{ recaptcha.site_key }}"></div>
                        </div>
                    {% else %}
                        <div id="accept-terms-checkbox" class="checkbox pull-left" data-trigger="manual" data-toggle="popover"
                             data-content="Please accept terms to continue" data-placement="top" data-html="true" container="input">
                            <label for="{{ modal.accept.id_for_label }}">
                                {{ modal.accept }} {{ modal.accept.label }}
                            </label>
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Continue</button>
                </div>
            </form>
        </div>
    </div>
</div>