html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 50px;
    margin-bottom: 60px;
}
.base {
    padding: 40px 0px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.container .text-muted {
    margin: 20px 15px;
}
.full-height {
    height: 100%;
}
.terms {
    font-size: 12px;
}