# Site-specific settings

# Display name of our network
#NETNAME = "Example Network"

# Lifetime of session authorisation key in seconds
# Set to 0 for unlimited
#LIFETIME = 300

# Maximum number of requests with the same key
# Set to 0 for unlimited
#MAX_REQUESTS = 20

# Salt value for authorisation key generation
#SALT = 'custom_salt_value'

# Contact addresses
#GENERAL_EMAIL = "info@example.com"
#SUPPORT_EMAIL = "support@example.com"
#NOC_EMAIL = "noc@example.com"
#PEERING_EMAIL = "peering@exmaple.com"

# reCaptcha details
# To use reCaptcha, you will need to register for an API key at
# https://www.google.com/recaptcha/intro/index.html, and insert
# the details below:
#RECAPTCHA_ON = True
#RECAPTCHA_SITE_KEY = ''
#RECAPTCHA_SECRET_KEY = ''

# Link to Acceptable Use Policy
# If you would like an acceptable use policy to be displayed on
# the terms & conditions pop-up, then simply add a link to it here:
#AUP_LINK = 'https://example.com/aup.html'

# Base Template
# To integrate the looking glass into another set of tools, using a shared
# base template, provide the path here.
# The custom template should provide the same set of 'blocks', and load the
# necessary JS and CSS files
#BASE_TEMPLATE = 'djangolg/base.html'

# Router Label
# Provide a lambda definition to customise the display of the router names
# in the select dropdown
#ROUTER_LABEL = lambda router: router.location.name if router.location else str(router)

# Logo Image
# Provide a relative link to the logo image
LOGO = 'img/logo.jpg'

# Small Logo Image
# Provide a relative link to the smaller logo image
SMALL_LOGO = 'img/small_logo.jpg'

# Favicon
# Provide a link to the site favicon image
#FAVICON = 'img/favicon.ico'

# Navbar Image
# Provide a link to a static image to use in the navbar, instead of a title
#NAV_IMG = 'img/nav.jpg'